<form method="POST" class="w-auto">
  <div class="mb-3 mt-3 d-inline-block w-20">
    <label for="sid" class="form-label">Source Id:</label>
    <input type="text" class="form-control" id="sid" placeholder="Source Id" name="sid" value="{{data.source.id}}"> 
    </div>
    <div class="mb-3 w-20 d-inline-block">
    <label for="sname" class="form-label w-20">Source Name:</label>
    <input type="text" class="form-control w-20" id="sname" placeholder="Source Name" name="sname" value="{{data.source.name}}">
  </div>
   <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title" value="{{data.title}}">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description:</label>
    <input type="text" class="form-control" id="desc" placeholder="Enter Description" name="desc" value="{{data.description}}">
  </div>
  <div class="mb-3">
    <label for="url" class="form-label">URL:</label>
    <input type="text" class="form-control" id="url" placeholder="Enter URL" name="url" value="{{data.url}}">
  </div>
   <div class="mb-3">
    <label for="urltoimg" class="form-label">URLToImage:</label>
    <input type="text" class="form-control" id="urltoimg" placeholder="Convert URL to Image" name="urltoimg" value="{{data.urlToImage}}">
  </div>
   <div class="mb-3">
    <label for="pubat" class="form-label">Published At:</label>
    <input type="text" class="form-control" id="pubat" placeholder="Published At" name="pubat" value="{{data.publishedAt}}">
  </div>
   <div class="mb-3">
    <label for="content" class="form-label">Content:</label>
    <input type="text" class="form-control" id="content" placeholder="Enter Content" name="content" value="{{data.content}}">
  </div>
  {{#if insert}}
  <button type="submit"  formaction="/createnews/insert" class="btn btn-success">Insert</button>
  {{/if}}
  {{#if update}}
  <button type="submit"  formaction="/update/{{data._id}}" class="btn btn-warning">Update</button>
  {{/if}}
</form>