<form method="POST" class="w-auto">
  <div class="mb-3 mt-3">
    <label for="username" class="form-label">Username:</label>
    <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
  </div>
   <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title" value="{{data.title}}">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description:</label>
    <input type="text" class="form-control" id="desc" placeholder="Enter Description" name="desc" value="{{data.description}}">
  </div>
  <div class="mb-3">
    <label for="url" class="form-label">URL:</label>
    <input type="text" class="form-control" id="url" placeholder="Enter URL" name="url" value="{{data.url}}">
  </div>
   <div class="mb-3">
    <label for="urltoimg" class="form-label">URLToImage:</label>
    <input type="text" class="form-control" id="urltoimg" placeholder="Convert URL to Image" name="urltoimg" value="{{data.urlToImage}}">
  </div>
   <div class="mb-3">
    <label for="pubat" class="form-label">Published At:</label>
    <input type="text" class="form-control" id="pubat" placeholder="Published At" name="pubat" value="{{data.publishedAt}}">
  </div>
   <div class="mb-3">
    <label for="review" class="form-label">Your Review:</label>
    <textarea class="form-control" id="review" name="review" rows="5" placeholder="Write your review here..."></textarea>
  </div>
  {{#if insert}}
  <button type="submit"  formaction="/createnews/insert" class="btn btn-success">Insert</button>
  {{/if}}
  {{#if update}}
  <button type="submit"  formaction="/update/{{data._id}}" class="btn btn-warning">Update</button>
  {{/if}}
</form>