<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <title>News App</title>

  <style>
    .center-vertically {
      position: absolute;
      top: 45%;
      animation: slideIn 1s ease-out;
      /* Add a slide-in animation */
    }

    @keyframes slideIn {
      from {
        opacity: 0;
        transform: translateX(-50px);
        /* Initial position off-screen to the left */
      }

      to {
        opacity: 1;
        transform: translateX(0);
        /* Final position */
      }
    }
  </style>

  <script>
    function validateAndSubmit() {
      var selectedCountry = document.forms["fetchArticles"]["country"].value;

      if (selectedCountry !== "in" && selectedCountry !== "us") {
        alert("Please select a valid country (India or USA).");
        return false; // Prevent form submission
      }

      // Continue with form submission
      return true;
    }

    function check() {
      const result = prompt("Are you sure you want to delete all news articles? (Y/N)");
      return result.trim().toLowerCase() === 'y';
    }
  </script>
</head>

<body style="overflow-y: hidden; overflow-x: hidden">
  {{>navbar}}
  <div class="row">
    <div class="bg-success col-md-9 py-5" style="height: 94vh; overflow-y: scroll;">
      <div class="row container justify-content-center">
        {{#if articles}}
        {{#each articles}}
        <div class="card m-2 col-md-3" style="width: 300px; height: 500px;">
          <img class="card-img-top pt-2" src="{{this.urlToImage}}" alt="Image" width="100%" height="250px"
            style="overflow: :hidden;">
          <div class="card-body">
            <h5 name="card-title" class="title-crd" style="height: 70px; overflow: hidden;">{{this.title}}</h5>
            <p name="card-text" class="text-crd" style="height: 95px; overflow: hidden;">{{this.description}}</p>
            <hr>
            <a target="_blank" href="{{this.url}}" class="btn btn-primary" style="width: 100%;">Read More</a>
          </div>
        </div>

        {{/each}}
        {{else}}
        <div class="text-center center-vertically">
          <h3>No Articles in the Database</h3>
          <h4>Please click on the button below to fetch latest news articles from the API</h4>
          <h4>Please login before fetching the articles</h4>
          <form class="row" name="fetchArticles" action="/fetch" onsubmit="return validateAndSubmit()" method="post">
            <div class="col-md-2 offset-md-4">
              <select name="country" class="form-select mt-3" aria-label="Select country">
                <option selected value="">Select Country</option>
                <option value="in">India</option>
                <option value="us">USA</option>
              </select>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary mt-3" style="width: 100%;" type="submit">Fetch</button>
            </div>
          </form>
        </div>
        {{/if}}
      </div>
    </div>

    <div class="bg-warning col-md-3 border-start pe-3">
      <div class="border shadow bg-light p-2 mt-2 me-2">
        <div class="form-label p-2 pb-0">
          <p style="text-align: center; color:blue">User Review</p>
        </div>
        <form type="form" action="/review" method="post">
          <div class="form-element p-2 pt-0"><input name="userID" class="form-control" type="text"
              placeholder="{{user}}" disabled></div>
          <div class="form-element p-2"><input name="emailID" class="form-control" type="text"
              placeholder="{{user_email}}" disabled></div>
          <div class="form-element p-2"><textarea name="review" class="form-control"
              placeholder="Enter Review for the App" rows="4"></textarea></div>
          <div class="form-element p-2"><input type="submit" class="btn btn-success" value="Submit"></div>
        </form>
      </div>
      <hr>
      <form method="post" action="/article" class="mb-2 w-auto p-2 ">
        <input type="submit" class="btn btn-primary w-100" value="Delete Duplicate Articles">
      </form>
      <hr>
      <form method="post" action="/deleteAll" class="mb-2 w-auto p-2 " onsubmit="return check()">
        <input type="submit" class="btn btn-primary w-100" value="Bulk Delete All Articles">
      </form>
      <hr>
      <form method="post" action="/user" class="mb-2 w-auto p-2 ">
        <input type="submit" class="btn btn-primary w-100" value="Delete Duplicate Users(same email)">
      </form>
      <hr>
      <a>Total Sources: {{count.srcnum}}</a>
      <hr>
      <a>Total Articles: {{count.artnum}}</a>
      <hr>
      <a>Total Users: {{count.usnum}}</a>
    </div>
  </div>


  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/jq/jquery.js"></script>
</body>

</html>